body {
	overflow-y: hidden;border:0px solid #ff0000;margin:0px 15px 0px 0px;padding:0px 0px 0px 10px;
}
#dvLogoutPannel{
position : absolute;
top : 51px;
right : 0px;
padding : 10px 30px 10px 30px;
z-index: 9999;
background-color:#fff;
border: 0px solid #C3C3C3;
box-shadow: 5px 5px 5px #DADADA;
cursor: pointer;
display: none;
}
#banner{
	color: #fff;
	height:34px;
	font-size: 14px;
	/*font-family: 'Malgun Gothic',Tahoma, Gulim, Helvetica, Helv;*/
	vertical-align:middle;
	padding:6px 0px 0 20px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0b2330), color-stop(1, #154157));
	background: -moz-linear-gradient(top, #0b2330 0%, #154157 100%);
	background: -webkit-linear-gradient(top,  #0b2330 0%, #154157 100%);
	background: -o-linear-gradient(top,  #0b2330 0%, #154157 100%);
	background: -ms-linear-gradient(top,  #0b2330 0%, #154157 100%);
	background: linear-gradient(top,  #0b2330 0%, #154157 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0b2330', endColorstr='#154157', gradientType=0);
	border-bottom: 1px solid #000;
}
#banner table span {padding-left: 23px; background: url('/SASHBI/images/icon_menu.png') no-repeat left center; line-height: 22px;}
#banner table span sup {vertical-align: text-top; font-size: 10px; line-height: 12px;}
#topMenu {position: absolute; top: 10px; right: 16px;}
#topMenu .search_wrap {position: relative; display: inline-block;}
#topMenu .search_wrap input[type=text] {width: 160px; height: 22px; padding: 0 25px 0 10px; border: none; border-radius: 11px;}
#topMenu .search_wrap .btn_search {position: absolute; width: 20px; height: 20px; border: none; background: url('/SASHBI/images/icon_gnb_search.png') no-repeat center; right: 1px; top: 1px;}
#topMenu a {display:inline-block; margin-left: 10px; vertical-align: top; text-decoration: none; font-size: 0; line-height: 22px;}
#topMenu a i {display: inline-block; width: 22px; height: 22px; background: url('/SASHBI/images/icon_gnb_function.png') no-repeat left top; vertical-align: middle;}
#topMenu a.alarm i {background-position: left 0;}
#topMenu a.help i {background-position: left -22px;}
#topMenu a.log_off i {margin-right: 8px; background-position: left -44px;}
#topMenu a.alarm:hover i {background-position: right 0;}
#topMenu a.help:hover i {background-position: right -22px;}
#topMenu a.log_off:hover i {background-position: right -44px;}
#topMenu a.log_off {color: #6ac4c9; font-weight:400; font-size:11px;}

#tabs.ui-tabs {height: -webkit-calc(100% - 10px); border: none; padding: 0px 0px 0px 1px; border-radius: 0;}
#tabs.ui-tabs .ui-tabs-nav {padding: 10px 0px 0px 0px; background: #fff; border: none; border-bottom: 3px solid #DBDBDB; border-radius: 0;}
#tabs.ui-tabs .ui-tabs-nav li.ui-tabs-active {background: #DBDBDB; color: #fff;padding: 0; border:0px solid #fff;border-radius: 5px 5px 0px 0px}	/* 007dc3 */
#tabs.ui-tabs .ui-tabs-nav li.ui-tabs-active a {color: #021135;font-weight: bold;}
#tabs.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0px;
    padding-bottom: 1px;
}
.ui-widget-header .ui-state-default {
    border: 0px solid #b2b2b2;
    background: #fff;
    font-weight: normal;
    color: #032C34;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #032C34;
    text-decoration: none;
    font-weight: normal;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 0px solid #0c4173;
    background: #0c4173;
    font-weight: normal;
    color: #fff;
}
.ui-accordion .ui-accordion-header {
	background: #0076c0; 
	height : 21px;
	border: 0px solid #f00;
	padding-top: 11px;
/*
	color: #fff; margin-top: 0; padding: 20px; border: 0px solid #0076c0; border-radius: 0; 
	font-size: 13px; font-weight: 400; line-height: 1.5;
*/	
}
.ui-accordion .ui-accordion-header.ui-state-active 	   {border: 0px solid #f00;background: #0c4173; border-radius: 0;height : 21px;line-height:23px;}
.ui-accordion .ui-accordion-header.ui-state-active:hover {border: 0px solid #f00;color: #FF8080; border-radius: 0; height : 21px;line-height:23px;}
.ui-accordion .ui-accordion-header.ui-state-default	   {border: 0px solid #f00;border-radius: 0; height : 21px;line-height:23px;}
.ui-accordion .ui-accordion-header.ui-state-default:hover{border: 0px solid #f00;color: #FF8080; border-radius: 0; height : 21px;line-height:23px;}

.ui-accordion .ui-accordion-content {padding: 0; border-right: 1px solid #DADADA; border-radius: 0; background: #fff /* 0469a8 */;}
.ui-accordion .ui-accordion-content table {position: relative; left:-7px;}
.ui-accordion .ui-accordion-content table td {font-weight: bold;}

.ui-accordion .ui-accordion-content .STPRVmenuItem {padding: 11px 11px 11px 15px; border: none;}
.ui-accordion .ui-accordion-content .STPRVmenuItem.curReport {background: #fff;}
.ui-accordion .ui-accordion-content .STPRVmenuItem + .STPRVmenuItem {padding-top: 0;}
.ui-accordion .ui-accordion-content .STPRVmenuItem a{
	position: relative; 
	display: inline-block; 
	color: #0c4173; 
	padding-left: 10px; 
	text-decoration: none; 
	font-size: 13px; 
	font-weight: 400; 
}
.ui-accordion .ui-accordion-content .STPRVmenuItem a:before {
	position: absolute; 
	content: ""; 
	width: 9px; height: 9px;
	left: -4px;top:4px;
	background: url('../images/dot_blue.gif') no-repeat left top; 
	background-position: top 13px;
}
.ui-accordion .ui-accordion-content .STPRVmenuItem.curReport a {color: #ffb385;}

#dvSASLogWin {
    z-index: 9999;
    box-shadow: 0px 0px 0px 0px black;
    border-radius: 0;
}
.ui-widget-header {
    border: 1px solid #4297d7;
    background: #0c4173;
    color: #eaf5f7;
    font-weight: bold;
    border-radius: 0;
    border: 0px solid #f00;
}

#btnSASLog 		{	
	width:16px; height:16px;cursor: pointer; position:absolute;right:100px; top:20px;
	background: #f4f4f4 url(../images/vimg/sasIcons/sasdark/16_png/Log.png) no-repeat center;
	filter: opacity(70%);
}
#btnHeaderEdit {
	width:16px; height:16px;cursor: pointer; right:80px;
	background: #f4f4f4 url(../images/vimg/sasIcons/sasdark/16_png/Application.png) no-repeat center;
	filter: opacity(70%);
}
#btnEditLayout {
	width:16px; height:16px;cursor: pointer; right:60px;
	background: #f4f4f4 url(../images/vimg/sasIcons/sasdark/16_png/BIReportGallery.png) no-repeat center;
	filter: opacity(70%);
}
