*.bak

sas.hbi.war/fileUpload
sas.hbi.war/jsp_20191121
sas.hbi.war/META-INF_OLD
sas.hbi.war/scripts_20230202
sas.hbi.war/scripts/ax5
sas.hbi.war/scripts/codemirror-5.59.2
sas.hbi.war/scripts/d3
sas.hbi.war/scripts/dojo
sas.hbi.war/scripts/jstree
sas.hbi.war/scripts/nvd3
sas.hbi.war/scripts/pvt
sas.hbi.war/scripts/saveSvgAsPng
sas.hbi.war/scripts/SlickGrid
sas.hbi.war/templates
sas.hbi.war/test